name: Weekly Release

on:
  schedule:
    # Schedule to run at 15:00 UTC every Monday (10 AM EST)
    - cron: "0 15 * * 1"
  workflow_dispatch:

jobs:
  create_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true

      - name: Generate Release Notes
        run: |
          bundle exec ruby scripts/generate_release_notes.rb

      - name: Read release notes
        run: |
          echo "RELEASE_NOTES<<EOF" >> $GITHUB_ENV
          cat release_notes.md >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Get Current Date
        run: echo "CURRENT_DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.CURRENT_DATE }}
          release_name: ${{ env.CURRENT_DATE }}
          body: ${{ env.RELEASE_NOTES }}
          draft: false
          prerelease: false
